* {
  box-sizing: border-box;


}

html, body {
  margin: 0;
  padding: 0;
}

  .App {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    background: rgba(52, 18, 116, 0.7)
  }


  .apod {
    border-radius: 30px;
    height:50vh;
    width: 50%;
    
  }
  
 
.accordion{
  display: flex;
 justify-content:center;
 margin: 5px;
  text-decoration: midnightblue;
}

  .accordion-text{
    color: rgb(2, 29, 119);
    text-shadow: 1px 1px rgb(56, 3, 52);
  
  }
  .accordion-text:hover{
    color: whitesmoke;
  }
  .textDiv:hover{

    background-color: steelblue;
  }
  .accordion-div{
    background-color: blue;
  }
  h3{


  text-align: center;
  }